{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block menu %}
    <a href="{% url 'todo_add' %}">Add ToDo</a>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>ToDo List</h1>
        {% for td in todo %}
        <h4>Title: {{ td.title }}</h4>
        <h4>Status: {{ td.status }}</h4>
        <h4>Deadline: {{ td.completion_at }}</h4>
        <p>
            <a href="{% url 'todo_detail' td.pk %}">More...</a>
        </p>
        {% endfor %}
    </div>
</div>
{% endblock %}