{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block menu %}
    <a href="{% url 'todo_add' %}">Add ToDo</a>
{% endblock %}
{% block content %}

<div class="container">
    <h1>ToDo</h1>
    <p>Title: {{ todo.title }}</p>
    <p>Description: {{ todo.description }}</p>
    <p>Status: {{ todo.status }}</p>
    <p>Deadline: {{ todo.completion_at }}</p>
    <p>Detailed Description: {{ todo.detailed_description }}</p>
    <p><a href="{% url 'todo_update' todo.pk %}">Update</a></p>
    <form method="POST" action="{% url 'todo_delete' todo.pk %}">
    {% csrf_token %}<button type="submit">Delete</button>
    </form>
    <br>
    <p><a href="{% url 'index' %}">Home</a></p>
</div>
{% endblock %}