{% extends 'base.html' %}
{% block title %}ToDo{% endblock %}
{% block menu %}
    <a href="{% url 'todo_add' %}">Add ToDo</a>
    <a href="{% url 'todo_update' todo.pk%}">Update ToDo</a>
    <a href="{% url 'todo_delete' todo.pk%}">Delete ToDo</a>
{% endblock %}
{% block content %}

<div class="container">
    <h1>ToDo</h1>
    <p>Title: {{ todo.title }}</p>
    <p>Description: {{ todo.description }}</p>
    <p>Status: {{ todo.status }}</p>
    <p>Deadline: {{ todo.completion_at }}</p>
    <p>Detailed Description: {{ todo.detailed_description }}</p>
    </form>
</div>
{% endblock %}